.App {
  text-align: center;
}

.flex-container {
  display: inline-block;
  width: 33%;
}

.flex-child {
  border: 10px solid rgb(24, 62, 126);
}  

.buttonClass {
  border: 25px solid rgb(126, 24, 24);
}

h1 {
  text-align: center;
}